.dumi
.umi
.umi-production
node_modules
/docs
/packages
/packages/*/src
/packages/*/scripts
/public
/scripts
.editorconfig
.fatherrc.ts
.gitignore
.npmignore
.prettierignore
.prettierrc
.umirc.ts
lerna.json
tailwind.config.js
tsconfig.json
typings.d.ts
yarn.lock
